<!-- <%- include ('header') %>  -->

<img src="<%= addnew.photo %>">
<h1>Name: <%=addnew.name%></h1>
<h1>Email: <%=addnew.email%></h1>
<h1>(<%=addnew.skills%>)</h1>
<h1>Qualifications: <%=addnew.edu%></h1>



<p><%= addnew.description %></p>
<!-- <%- include ('footer') %>  -->
